:root{
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}
html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #193549;
    color: #fff;
}
img{
    padding: var(--spacing);
    background-color: var(--base);
    filter: blur(var(--blur));
    max-width: 800px;
    max-height: 500px;
}
.h1{
    color: var(--base);
}
.controls{
    margin-bottom: 50px;
}
input{
    width: 100px;
}