
html{
    font-size: 20px;
    font-weight: 200;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    text-align: center;
    background: #ffc600;
}
*, *:before, *:after{
    box-sizing: inherit;
}

.inbox{
    margin: 50px auto;
    background-color: #fff;
    max-width: 400px;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
    text-align: left;
}
.item{
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    align-items: center;
}
.item:last-child{
    border-bottom: none;
}
input[type="checkbox"]{
    margin: 25px;
}
input:checked + p{
    background-color: #f9f9f9;
    text-decoration: line-through;
}
p{
    margin: 0;
    padding: 20px;
    border-left: 1px solid #d1e2ff;
    flex: 1;
    font-size: 20px;
    font-weight: 200;
    transition: all .2s;
}